<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="${basedir}\logs\nlog-internal.log" >

  <targets>
    <target name="defaultTarget" xsi:type="File" fileName="${basedir}/logs/${logger}/${shortdate}/${date:format=HH}.txt" encoding="UTF-8" layout="${shortdate} ${time}｜${message}｜${onexception:${exception:format=tostring}}" />
    <target name="HighLevel" xsi:type="File" fileName="${basedir}/logs/HighLevel.txt" encoding="UTF-8" layout="${shortdate} ${time}｜${callsite:className=true}｜${message}｜${onexception:${exception:format=tostring}}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="defaultTarget" />
    <logger name="*" minlevel="Warn" writeTo="HighLevel" />
  </rules>
</nlog>